<?xml version="1.0"?>

<launch>
  <arg name="ns" default="cedes"/>
  <arg name="nn" default="camera"/>
  <arg name="respawn" default="false"/>
  <arg name="stream" default="distance"/>
  <arg name="int0"  default="1000"/>
  <arg name="int1"  default="1000"/>
  <arg name="int2" default="0"/>
  <arg name="intGr" default="1000"/>

  <group ns="$(arg ns)">
    <node pkg="cedes" 
          type="cedes_node"
          name="$(arg nn)"
          output="screen"
          respawn="$(arg respawn)">

      <param name="stream" value="$(arg stream)"/>
      <param name="int0" value="$(arg int0)"/>
      <param name="int1" value="$(arg int1)"/>
      <param name="int2" value="$(arg int2)"/>
      <param name="intGr" value="$(arg intGr)"/>

      <remap from="image_raw" to="$(arg nn)/image_raw"/> 
      <remap from="camera_info" to="$(arg nn)/camera_info"/> 
      <remap from="set_camera_info" to="$(arg nn)/set_camera_info"/> 
    </node>
  </group>
</launch>
